.App {
 color: white;
}


.container-card{
  background-color: #020e25;
  width: 520px;
  height: 350px;
 color: white;
 border-radius: 15px;
 margin: 30px 620px;
 padding: 20px;
}
.title{
margin-left:300px;
  font-size :  25px ;
  font-weight: bold;
}

.visa{
  width: 130px;
  height: 90px;
  margin: 90px 10px 0px 0px;
  }

.number-card{
  color: rgb(218,165,32) ;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}

.ownername{
  margin: 90px 20px 0px 0px;
  font-family: 'Alfa Slab One', cursive;
  font-size: 14px;
}

.footer-g{
  display: flex;
  justify-content: space-between ;
}

.date{
margin: 0px 60px;
font-family: 'Nanum Gothic Coding', monospace;
font-size: 20px;
}

.container-input-card{
  padding: 20px;
  margin: 50px  620px;
  background-color: #020e25;
  width: 520px;
  height: 310px;
  border-radius: 15px;
}
.owner{
  width: 300px;
  height: 20px;
}
.text-title{
  font-size: 24x;
  font-weight: bold;
  color: rgb(173, 7, 7);
}
.cardnumber{
  width: 400px;
  height: 20px;
}

.title-purchase{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin: 0px;
}
